@import "~bootstrap/scss/bootstrap";
body {
    height: 100%;
}
.stripes-blue {
    background-color: #0282f9;
    color: white;

    p {
        font-weight: bold;
        font-size: 11px;
        padding: 5px 0;
    }
}
li {
    display: inline-block;
    font-weight: 600;

    .link {
        text-decoration: none;
        color: inherit;
        padding: 5px;
        height: 90px;
        display: inline-block;
        line-height: 80px;
    }

    .link.active {
        border-bottom: 5px solid #0282f9;
        color: #0282f9;
        height: 90px;
        display: inline-block;
        line-height: 70px;
    }
}

.img-logo {
    width: 70px;
}

.container-img-jumbo {
    height: 395px;
    overflow: hidden;
    img {
        width: 100%;
    }
}

// COMICS---------------------------------------

.body-comics {
    background-color: #1c1c1c;

    .title-comics {
        color: white;
        font-size: 17px;
        font-weight: 600;
        margin-top: 10px;
    }
}

.card-comics {
    overflow: hidden;
    border: none;
    cursor: pointer;
    img {
        width: 100%;
        height: 255px;
        object-fit: cover;
        object-position: top;
    }
}

.container-comics {
    position: relative;

    .badge-comics {
        position: absolute;
        color: white;
        background-color: #0282f9;
        font-size: 28px;
        font-weight: 600;
        padding: 5px 20px;
        top: -30px;
        left: 290px;
    }
}

.container-link {
    background-color: #0282f9;
    padding: 50px 0;
    ul {
        display: flex;
        justify-content: space-between;

        li {
            display: flex;
            align-items: center;
            gap: 15px;

            a img {
                height: 60px;
            }

            p {
                margin: 0;
                padding: 0 10px;
                color: white;
                font-size: 14px;
            }
        }
    }

    .dimension-svg {
        width: 60px;
    }
}

// FOOTER-------------------------------------------------------------
.bgr-footer {
    height: 500px;
    background-image: url(../images/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container-footer {
    height: 500px;
}
.left-footer {
    width: 50%;
    ul {
        .first-title-link {
            color: #fffffe;
            font-weight: bold;
            font-size: 20px;
        }
        li a {
            text-decoration: none;
            color: #92908f;
            font-size: 12px;
        }
    }
    .copyright-footer {
        color: #92908f;
        font-size: 14px;

        a {
            text-decoration-line: none;
        }
    }
}

.right-footer {
    width: 50%;
    height: 500px;
    text-align: center;

    overflow: hidden;

    img {
        object-fit: cover;
        position: relative;
        bottom: 30px;
    }
}

.last-footer {
    height: 120px;
    background-color: #252525;
}

.sign-up-botton {
    height: 50px;
    color: white;
    border: 2px solid #0282f9;
    line-height: 45px;
}

.sign-up-botton:hover {
    background-color: #0282f9;
}

.title-socials {
    color: #0282f9;
    font-weight: bold;
    font-size: 20px;
}

.bord {
    border: 2px dashed red;
}

// DETTAGLI COMICS---------------------------------

.row-blue {
    height: 85px;
    background-color: #0282f9;
    position: relative;
}

.container-img-thumb {
    width: 240px;
    height: 330px;
    border: 2px solid white;
    position: absolute;
    top: -270px;
    left: 365px;
    overflow: hidden;
    img {
        width: 100%;
        height: 330px;
        object-fit: cover;
        object-position: top;
    }

    .badge-up {
        position: absolute;
        background-color: #00a9d9;
        color: white;
        font-size: 15px;
        top: 0;
        left: 0;
        padding: 0 5px;
    }

    .badge-down {
        width: 100%;
        text-align: center;
        position: absolute;
        background-color: #00a9d9;
        color: white;
        font-size: 14px;
        bottom: 0;
        cursor: pointer;
    }
}
